<!-- // FOOTER -->
<table border="0" cellpadding="0" cellspacing="0" width="600" >
    <tr>
        <td>
            <!-- CONTENT TABLE // -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" class="textContent footer">
                        <br>
                        You received this message because you are a member of Greenpeace Greenwire community.
                        <br>
                        If you do not want to receive this kind of e-mails please adjust your <a href="#">subscription settings</a>.

                    </td>
                </tr>
            </table>
            <!-- // CONTENT TABLE -->
        </td>
    </tr>
</table>
