{{> header title='All modules'}}
{{> body_start}}
	<!-- BIG IMAGE BLOCK -->
	{{> big_image_start}}
		{{> image url='../img/team.jpg' width='560'}}
	{{> big_image_end}}

	<!-- EVENT BLOCK -->
	{{> event_start month='december' day='25'}}
		<h3>Event reminder1</h3>
		<br>
		Only two days left before that interesting event your subscribed to!
		Oh my, this is so exciting, you are going to meet new people and make new friends.
	{{> event_end}}

	<!-- CONTENT BLOCK -->
	{{> content_start title="title" url='#test1'}}
		A kitten or kitty is a juvenile domesticated cat. A feline litter usually consists of two to five kittens.
		To survive, kittens need the care of their mother for the first several weeks of their life.
		Kittens are highly social animals and spend most of their waking hours playing.
	{{>	content_end}}

	<!-- BUTTON BLOCK -->
	{{> button url='#' text='call to action'}}

	<!-- USER BLOCK -->
	{{> user_start avatar='../img/avatar_def_big.png' title='Someone did something block' url='#test2'}}
		A secret admirer wants to be your friend.<br>
		To approve or reject this, view your
		<a href="#">friends page</a>.
	{{> user_end}}
{{> body_end}}
