<table border="0" cellpadding="0" cellspacing="0" width="600" >
    <tr>
        <td>

            <!-- CONTENT TABLE // -->
            <!--
                The table cell imageContent has padding
                applied to the bottom as part of the framework,
                ensuring images space correctly in Android Gmail.
            -->
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td valign="top" class="imageContent">
                        <img src="../../img/logo_black.png" width="150" style="max-width:150px;" />
                    </td>
                </tr>
            </table>
            <!-- // CONTENT TABLE -->

        </td>
    </tr>
</table>